{% extends "layout.html" %}
{% block content %}
<h1>About Page</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec enim sed purus finibus scelerisque non at mi.
    Suspendisse nisl neque, euismod in varius quis, lacinia vitae lorem. Duis pulvinar sed ligula eu bibendum. Phasellus
    in tortor eget augue sollicitudin lacinia. In molestie, nisl in sollicitudin suscipit, velit justo gravida erat, nec
    interdum mauris ligula vitae velit. Suspendisse imperdiet lacus eget nibh blandit bibendum. Sed eget mattis enim,
    non ultrices justo.
</p>
{% endblock content %}
